<div [class]="'outerdiv'">
<div [class]="'innerdiv'">
<table [align]="'center'">
      <tr >
            <td [align]="'center'">
                <h1 style="color: blueviolet;">Contact Our</h1>
                <h3> Customer Support Center</h3>
            </td>
            <td>
                <img src="assets/apple.jpg" height="200px" width="400px">
            </td>
      </tr>
      <tr >
          <td >
              <h3  >Contact Information</h3>
              <h5>Please fill out your contact information below</h5>
          </td>
          
      </tr>
      <tr>
            <td>
              <label>Name *</label>
            </td>
      </tr>
      <tr>
            <td>
              <input class="form-control" type="text">
            </td>
            <td>
              <input type="text">
            </td>
      </tr>
      <tr >
            <td>
              <label style="font-size: small;">First Name</label>
            </td>
            <td>
              <label style="font-size: small;"s>Last Name</label>
            </td>
           
      </tr>
      
      <tr>
            <td >
              <label>Email *</label>
              
            </td>
      </tr>
      <tr >
            <td colspan="2">
              <input class="" type="email" style="width: 100%;" >
            </td>
          
      </tr>
      <tr>
        <td >
          <label>Phone *</label>
          
        </td>
      </tr>
      <tr >
            <td colspan="2">
              <input type="text" maxlength="10" minlength="10" style="width: 100%;">
            </td>
      </tr>

      <tr>
            <td >
              <label>Address *</label>
              
            </td>
      </tr>
      <tr >
            <td colspan="2">
              <input type="text" style="width: 100%;">
            </td>
      </tr>

</table>
</div>
</div>
<router-outlet></router-outlet>
